* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-color: #223343;
}

header {
    padding: 50px 15px 0px;
}

header h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 15px;
}

/* Searchbar styling */

.searchbar {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #dddddd;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 300;
    color: #53565A;
    transition: 0.5s ease-out;
}

.searchbar:focus {
    box-shadow: 0px 0px 8px 3px #4484c4;
}

/* Results/Result styling */

.results {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.result {
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.result img {
    display: block;
    width: 100%;
}

.result h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background: #223343;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}

.result:hover h3 {
    background: #ffffff;
    color: #223343;
}

/* Popup styling */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #445565;
    overflow-y: scroll;
}

.content {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;
    color: #ffffff;
}

.content h2 {
    font-size: 28px;
    font-weight: 600;
}

.content h2 span {
    font-weight: 300;
    font-size: 20px;
}

.content .plot {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 30px;
}

.content .plot p {
    flex: 1 1 50%;
    padding: 15px;
}

.content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    background: #4484C4;
    border: none;
    border-radius: 8px;
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.content .close:hover {
    background: #223343;
}