* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-color: #223343;
}

header {
    padding: 50px 15px 0px;
}

header h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 15px;
}

.searchbar {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #dddddd;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 300;
    color: #53565A;
    transition: 0.5s ease-out;
}

.searchbar:focus {
    box-shadow: 0px 0px 8px 3px #4484c4;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.result {
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.result img {
    display: block;
    width: 100%;
}

.result h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background: #223343;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}

.result:hover h3 {
    background: #ffffff;
    color: #223343;
}